deploy/cloudformation/deployment-pipeline.yaml
# Project Aura - Layer 6.11 - Deployment Pipeline (Step Functions Orchestrator)
#
# Orchestrates complete environment deployment with proper dependency management.
# Single trigger deploys all infrastructure, generates K8s configs, builds images,
# and deploys to Kubernetes.
#
# Usage:
#   aws cloudformation deploy \
#     --template-file deploy/cloudformation/deployment-pipeline.yaml \
#     --stack-name aura-deployment-pipeline-qa \
#     --parameter-overrides Environment=qa \
#     --capabilities CAPABILITY_NAMED_IAM
#
# Trigger:
#   aws stepfunctions start-execution \
#     --state-machine-arn arn:aws:states:us-east-1:ACCOUNT:stateMachine:aura-deployment-pipeline-qa \
#     --input '{"environment": "qa", "region": "us-east-1"}'

AWSTemplateFormatVersion: '2010-09-09'
Description: 'Project Aura - Layer 6.11 - Deployment Pipeline (Step Functions Orchestrator)'

Parameters:
  ProjectName:
    Type: String
    Default: aura
    Description: Project name used for resource naming

  Environment:
    Type: String
    AllowedValues: [dev, qa, prod]
    Description: Deployment environment

  NotificationEmail:
    Type: String
    Default: ''
    Description: Email for deployment notifications (optional)

Conditions:
  HasNotificationEmail: !Not [!Equals [!Ref NotificationEmail, '']]

Resources:
  # =============================================================================
  # SNS Topic for Deployment Notifications
  # =============================================================================
  DeploymentNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${ProjectName}-deployment-notifications-${Environment}'
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  DeploymentNotificationSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasNotificationEmail
    Properties:
      TopicArn: !Ref DeploymentNotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # =============================================================================
  # IAM Role for Step Functions
  # =============================================================================
  DeploymentPipelineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-deployment-pipeline-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CodeBuildAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - codebuild:StartBuild
                  - codebuild:BatchGetBuilds
                  - codebuild:StopBuild
                Resource: !Sub 'arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/${ProjectName}-*-${Environment}'
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt CodeBuildPollerFunction.Arn
                  - !GetAtt K8sConfigGeneratorFunction.Arn
                  - !GetAtt K8sDeployerFunction.Arn
        - PolicyName: SNSPublish
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref DeploymentNotificationTopic
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
        - PolicyName: XRayTrace
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: '*'
        - PolicyName: EventBridgeManagedRules
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource: !Sub 'arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctions*'
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # IAM Role for Lambda Functions
  # =============================================================================
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-deployment-lambda-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - !Sub 'arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: CodeBuildAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - codebuild:BatchGetBuilds
                Resource: !Sub 'arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/${ProjectName}-*-${Environment}'
        - PolicyName: CloudFormationRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - cloudformation:DescribeStacks
                  - cloudformation:ListStacks
                Resource: !Sub 'arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${ProjectName}-*-${Environment}/*'
        - PolicyName: SSMAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:PutParameter
                  - ssm:GetParameter
                Resource: !Sub 'arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${ProjectName}/${Environment}/*'
        - PolicyName: EKSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - eks:DescribeCluster
                Resource: !Sub 'arn:${AWS::Partition}:eks:${AWS::Region}:${AWS::AccountId}:cluster/${ProjectName}-cluster-${Environment}'
        - PolicyName: S3ConfigAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource: !Sub 'arn:${AWS::Partition}:s3:::${ProjectName}-deployment-artifacts-${Environment}/*'
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # Lambda: CodeBuild Poller (checks build status)
  # =============================================================================
  CodeBuildPollerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-codebuild-poller-${Environment}'
      Description: Polls CodeBuild build status for Step Functions orchestration
      Runtime: python3.11
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import boto3
          import json

          codebuild = boto3.client('codebuild')

          def handler(event, context):
              """Poll CodeBuild build status."""
              build_id = event.get('buildId')

              if not build_id:
                  raise ValueError("buildId is required")

              response = codebuild.batch_get_builds(ids=[build_id])

              if not response.get('builds'):
                  raise Exception(f"Build not found: {build_id}")

              build = response['builds'][0]
              status = build['buildStatus']

              result = {
                  'buildId': build_id,
                  'status': status,
                  'projectName': build['projectName'],
                  'startTime': build['startTime'].isoformat(),
              }

              if status == 'SUCCEEDED':
                  result['complete'] = True
                  result['success'] = True
                  if 'endTime' in build:
                      result['endTime'] = build['endTime'].isoformat()
              elif status in ['FAILED', 'FAULT', 'STOPPED', 'TIMED_OUT']:
                  result['complete'] = True
                  result['success'] = False
                  result['error'] = f"Build {status}"
                  if 'endTime' in build:
                      result['endTime'] = build['endTime'].isoformat()
              else:
                  # IN_PROGRESS
                  result['complete'] = False
                  result['success'] = False

              return result
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # Lambda: Kubernetes Config Generator
  # =============================================================================
  K8sConfigGeneratorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-k8s-config-generator-${Environment}'
      Description: Generates Kubernetes configuration files for environment deployment
      Runtime: python3.11
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 300
      MemorySize: 512
      Environment:
        Variables:
          PROJECT_NAME: !Ref ProjectName
          ENVIRONMENT: !Ref Environment
      Code:
        ZipFile: |
          import boto3
          import json
          import os

          cfn = boto3.client('cloudformation')
          ssm = boto3.client('ssm')

          PROJECT = os.environ['PROJECT_NAME']
          ENV = os.environ['ENVIRONMENT']

          def get_stack_output(stack_name, output_key):
              """Get a specific output from a CloudFormation stack."""
              try:
                  response = cfn.describe_stacks(StackName=stack_name)
                  outputs = response['Stacks'][0].get('Outputs', [])
                  for output in outputs:
                      if output['OutputKey'] == output_key:
                          return output['OutputValue']
              except Exception as e:
                  print(f"Warning: Could not get {output_key} from {stack_name}: {e}")
              return None

          def handler(event, context):
              """Collect CF outputs and store in SSM for K8s config generation."""
              region = os.environ.get('AWS_REGION', 'us-east-1')
              account_id = boto3.client('sts').get_caller_identity()['Account']

              # Collect all endpoints
              config = {
                  'accountId': account_id,
                  'region': region,
                  'environment': ENV,
                  'neptuneEndpoint': get_stack_output(f'{PROJECT}-neptune-{ENV}', 'ClusterEndpoint'),
                  'opensearchEndpoint': get_stack_output(f'{PROJECT}-opensearch-{ENV}', 'DomainEndpoint'),
                  'redisEndpoint': get_stack_output(f'{PROJECT}-elasticache-{ENV}', 'RedisEndpoint'),
                  'vpcId': get_stack_output(f'{PROJECT}-networking-{ENV}', 'VpcId'),
                  'publicSubnets': get_stack_output(f'{PROJECT}-networking-{ENV}', 'PublicSubnetIds'),
                  'albSecurityGroup': get_stack_output(f'{PROJECT}-security-{ENV}', 'AlbSecurityGroupId'),
                  'wafAclArn': get_stack_output(f'{PROJECT}-waf-{ENV}', 'WebAclArn'),
                  'eksClusterName': get_stack_output(f'{PROJECT}-eks-cluster-{ENV}', 'ClusterName') or f'{PROJECT}-cluster-{ENV}',
                  'hitlSnsTopicArn': get_stack_output(f'{PROJECT}-sandbox-{ENV}', 'HITLNotificationTopicArn'),
              }

              # Store in SSM
              params_stored = []
              ssm_params = {
                  'neptune-endpoint': config['neptuneEndpoint'],
                  'opensearch-endpoint': config['opensearchEndpoint'],
                  'redis-endpoint': config['redisEndpoint'],
                  'vpc-id': config['vpcId'],
                  'hitl-sns-topic-arn': config['hitlSnsTopicArn'],
                  'account-id': config['accountId'],
                  'region': config['region'],
              }

              for key, value in ssm_params.items():
                  if value:
                      param_name = f'/{PROJECT}/{ENV}/{key}'
                      ssm.put_parameter(
                          Name=param_name,
                          Value=value,
                          Type='String',
                          Overwrite=True
                      )
                      params_stored.append(param_name)

              return {
                  'status': 'SUCCESS',
                  'config': config,
                  'ssmParametersStored': params_stored,
                  'message': f'Stored {len(params_stored)} SSM parameters'
              }
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # Lambda: Kubernetes Deployer (placeholder - real impl uses CodeBuild)
  # =============================================================================
  K8sDeployerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-k8s-deployer-${Environment}'
      Description: Checks Kubernetes deployment status for Step Functions orchestration
      Runtime: python3.11
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 60
      Code:
        ZipFile: |
          def handler(event, context):
              """
              Placeholder for K8s deployment status check.
              Actual deployment is done via CodeBuild with kubectl access.
              """
              return {
                  'status': 'SUCCESS',
                  'message': 'K8s deployment initiated via CodeBuild'
              }
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # CloudWatch Log Group for Step Functions
  # =============================================================================
  DeploymentPipelineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/stepfunctions/${ProjectName}-deployment-pipeline-${Environment}'
      RetentionInDays: 90
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

  # =============================================================================
  # Step Functions State Machine
  # =============================================================================
  DeploymentPipeline:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${ProjectName}-deployment-pipeline-${Environment}'
      RoleArn: !GetAtt DeploymentPipelineRole.Arn
      TracingConfiguration:
        Enabled: true
      LoggingConfiguration:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt DeploymentPipelineLogGroup.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Project Aura - Complete Environment Deployment Pipeline",
          "StartAt": "ValidateInput",
          "States": {
            "ValidateInput": {
              "Type": "Pass",
              "Parameters": {
                "environment": "${Environment}",
                "region": "${AWS::Region}",
                "projectName": "${ProjectName}",
                "accountId": "${AWS::AccountId}",
                "startTime.$": "$$.Execution.StartTime"
              },
              "ResultPath": "$.context",
              "Next": "NotifyStart"
            },

            "NotifyStart": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${DeploymentNotificationTopic}",
                "Subject": "Aura Deployment Started - ${Environment}",
                "Message.$": "States.Format('Deployment pipeline started for {} environment at {}', $.context.environment, $.context.startTime)"
              },
              "ResultPath": null,
              "Next": "Phase1_Infrastructure"
            },

            "Phase1_Infrastructure": {
              "Type": "Parallel",
              "Comment": "Deploy infrastructure layers with proper sequencing",
              "Branches": [
                {
                  "StartAt": "DeployFoundationLayer",
                  "States": {
                    "DeployFoundationLayer": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-foundation-deploy-${Environment}"
                      },
                      "ResultPath": "$.foundationBuild",
                      "Next": "DeployDataLayer"
                    },
                    "DeployDataLayer": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-data-deploy-${Environment}"
                      },
                      "ResultPath": "$.dataBuild",
                      "Next": "DeployComputeLayer"
                    },
                    "DeployComputeLayer": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-compute-deploy-${Environment}"
                      },
                      "ResultPath": "$.computeBuild",
                      "Next": "DeployParallelLayers"
                    },
                    "DeployParallelLayers": {
                      "Type": "Parallel",
                      "Comment": "Layers 4-6 can deploy in parallel after Compute",
                      "Branches": [
                        {
                          "StartAt": "DeployApplicationLayer",
                          "States": {
                            "DeployApplicationLayer": {
                              "Type": "Task",
                              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                              "Parameters": {
                                "ProjectName": "${ProjectName}-application-deploy-${Environment}"
                              },
                              "End": true
                            }
                          }
                        },
                        {
                          "StartAt": "DeployObservabilityLayer",
                          "States": {
                            "DeployObservabilityLayer": {
                              "Type": "Task",
                              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                              "Parameters": {
                                "ProjectName": "${ProjectName}-observability-deploy-${Environment}"
                              },
                              "End": true
                            }
                          }
                        },
                        {
                          "StartAt": "DeployServerlessLayer",
                          "States": {
                            "DeployServerlessLayer": {
                              "Type": "Task",
                              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                              "Parameters": {
                                "ProjectName": "${ProjectName}-serverless-deploy-${Environment}"
                              },
                              "End": true
                            }
                          }
                        }
                      ],
                      "ResultPath": "$.parallelLayerBuilds",
                      "Next": "DeploySandboxLayer"
                    },
                    "DeploySandboxLayer": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-sandbox-deploy-${Environment}"
                      },
                      "ResultPath": "$.sandboxBuild",
                      "Next": "DeploySecuritySubLayers"
                    },
                    "DeploySecuritySubLayers": {
                      "Type": "Parallel",
                      "Comment": "Layer 8 Security and ADR-083 Runtime Security deploy in parallel",
                      "Branches": [
                        {
                          "StartAt": "DeploySecurityLayer",
                          "States": {
                            "DeploySecurityLayer": {
                              "Type": "Task",
                              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                              "Parameters": {
                                "ProjectName": "${ProjectName}-security-deploy-${Environment}"
                              },
                              "End": true
                            }
                          }
                        },
                        {
                          "StartAt": "DeployRuntimeSecurityLayer",
                          "States": {
                            "DeployRuntimeSecurityLayer": {
                              "Type": "Task",
                              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                              "Parameters": {
                                "ProjectName": "${ProjectName}-runtime-security-deploy-${Environment}"
                              },
                              "Catch": [
                                {
                                  "ErrorEquals": ["States.ALL"],
                                  "ResultPath": "$.runtimeSecurityError",
                                  "Next": "RuntimeSecurityFailed"
                                }
                              ],
                              "End": true
                            },
                            "RuntimeSecurityFailed": {
                              "Type": "Pass",
                              "Comment": "Runtime security deployment failed - non-blocking",
                              "Result": {
                                "status": "FAILED",
                                "message": "Runtime security deployment failed (non-blocking)"
                              },
                              "End": true
                            }
                          }
                        }
                      ],
                      "ResultPath": "$.securityBuilds",
                      "End": true
                    }
                  }
                }
              ],
              "ResultPath": "$.infrastructureResults",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "Phase2_GenerateK8sConfig"
            },

            "Phase2_GenerateK8sConfig": {
              "Type": "Task",
              "Comment": "Generate Kubernetes configs from CF outputs",
              "Resource": "${K8sConfigGeneratorFunction.Arn}",
              "ResultPath": "$.k8sConfig",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "Phase3_BuildContainerImages"
            },

            "Phase3_BuildContainerImages": {
              "Type": "Parallel",
              "Comment": "Build all container images in parallel using single docker build project with BUILD_TARGET override",
              "Branches": [
                {
                  "StartAt": "BuildAuraApi",
                  "States": {
                    "BuildAuraApi": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-docker-build-${Environment}",
                        "EnvironmentVariablesOverride": [
                          {
                            "Name": "BUILD_TARGET",
                            "Value": "api",
                            "Type": "PLAINTEXT"
                          }
                        ]
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "BuildAgentOrchestrator",
                  "States": {
                    "BuildAgentOrchestrator": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-docker-build-${Environment}",
                        "EnvironmentVariablesOverride": [
                          {
                            "Name": "BUILD_TARGET",
                            "Value": "agent-orchestrator",
                            "Type": "PLAINTEXT"
                          }
                        ]
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "BuildMemoryService",
                  "States": {
                    "BuildMemoryService": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-docker-build-${Environment}",
                        "EnvironmentVariablesOverride": [
                          {
                            "Name": "BUILD_TARGET",
                            "Value": "memory-service",
                            "Type": "PLAINTEXT"
                          }
                        ]
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "BuildMetaOrchestrator",
                  "States": {
                    "BuildMetaOrchestrator": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-docker-build-${Environment}",
                        "EnvironmentVariablesOverride": [
                          {
                            "Name": "BUILD_TARGET",
                            "Value": "meta-orchestrator",
                            "Type": "PLAINTEXT"
                          }
                        ]
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "BuildFrontend",
                  "States": {
                    "BuildFrontend": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
                      "Parameters": {
                        "ProjectName": "${ProjectName}-docker-build-${Environment}",
                        "EnvironmentVariablesOverride": [
                          {
                            "Name": "BUILD_TARGET",
                            "Value": "frontend",
                            "Type": "PLAINTEXT"
                          }
                        ]
                      },
                      "End": true
                    }
                  }
                }
              ],
              "ResultPath": "$.containerBuilds",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "Phase4_DeployKubernetes"
            },

            "Phase4_DeployKubernetes": {
              "Type": "Task",
              "Comment": "Deploy to Kubernetes cluster",
              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
              "Parameters": {
                "ProjectName": "${ProjectName}-k8s-deploy-${Environment}"
              },
              "ResultPath": "$.k8sDeploy",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "Phase5_VerifyDeployment"
            },

            "Phase5_VerifyDeployment": {
              "Type": "Task",
              "Comment": "Run deployment verification tests",
              "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
              "Parameters": {
                "ProjectName": "${ProjectName}-integration-test-${Environment}"
              },
              "ResultPath": "$.verificationResults",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "NotifySuccess"
            },

            "NotifySuccess": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${DeploymentNotificationTopic}",
                "Subject": "Aura Deployment SUCCEEDED - ${Environment}",
                "Message.$": "States.Format('Deployment pipeline completed successfully for {} environment. All phases passed.', $.context.environment)"
              },
              "Next": "DeploymentComplete"
            },

            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${DeploymentNotificationTopic}",
                "Subject": "Aura Deployment FAILED - ${Environment}",
                "Message.$": "States.Format('Deployment pipeline FAILED for {} environment. Error: {}', $.context.environment, States.JsonToString($.error))"
              },
              "Next": "DeploymentFailed"
            },

            "DeploymentComplete": {
              "Type": "Succeed",
              "Comment": "Deployment completed successfully"
            },

            "DeploymentFailed": {
              "Type": "Fail",
              "Error": "DeploymentFailed",
              "Cause": "One or more deployment phases failed"
            }
          }
        }
      Tags:
        - Key: Project
          Value: !Ref ProjectName
        - Key: Environment
          Value: !Ref Environment

Outputs:
  StateMachineArn:
    Description: ARN of the deployment pipeline state machine
    Value: !Ref DeploymentPipeline
    Export:
      Name: !Sub '${ProjectName}-deployment-pipeline-arn-${Environment}'

  StateMachineName:
    Description: Name of the deployment pipeline state machine
    Value: !GetAtt DeploymentPipeline.Name

  NotificationTopicArn:
    Description: ARN of the deployment notification SNS topic
    Value: !Ref DeploymentNotificationTopic
    Export:
      Name: !Sub '${ProjectName}-deployment-notifications-arn-${Environment}'

  TriggerCommand:
    Description: Command to trigger the deployment pipeline
    Value: !Sub |
      aws stepfunctions start-execution \
        --state-machine-arn ${DeploymentPipeline} \
        --input '{"environment": "${Environment}", "region": "${AWS::Region}"}'
